<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div
      class="col-span-1 md:col-span-1 border flex items-center justify-center"
    >
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        class="mb-4 hidden"
      />
      <div class="flex flex-wrap justify-center gap-2">
        <img
          *ngFor="let image of placeholderImages"
          [src]="image"
          (click)="selectPlaceholder(image)"
          class="w-24 h-24 cursor-pointer border rounded-lg"
          alt="Placeholder"
        />
      </div>
    </div>

    <div class="col-span-1 md:col-span-1">
      <div class="border p-4 rounded-lg shadow-md">
        <button
          (click)="onSubmit()"
          class="mt-4 bg-blue-500 text-white p-2 rounded"
        >
          Analyze Results
        </button>
        <img
          [src]="imagePreview"
          alt="Click on any Image to analyze"
          class="w-full h-auto"
        />
      </div>
    </div>

    <div class="col-span-1 md:col-span-2">
      <div class="border p-4 rounded-lg shadow-md">
        <button
          (click)="toggleParagraphs()"
          class="bg-blue-500 text-white p-2 rounded mb-2"
        >
          Text
        </button>

        <button
          (click)="toggleTables()"
          class="bg-green-500 text-white p-2 rounded mb-2"
        >
          Tables
        </button>

        <div *ngIf="showTables">
          <div *ngFor="let table of tables">
            <table class="min-w-full border-collapse border border-gray-300">
              <thead>
                <tr>
                  <th
                    *ngFor="let header of getTableHeaders(table)"
                    class="border p-2"
                  >
                    {{ header.content }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rowIndex of getTableRows(table)">
                  <td
                    *ngFor="let cell of getRowData(table, rowIndex)"
                    class="border p-2"
                  >
                    {{ cell.content }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button (click)="onSaveTables(tables)" [disabled]="!showTables">
            Save Tables to Excel
          </button>
        </div>

        <div *ngIf="showParagraphs">
          <div *ngFor="let paragraph of paragraphs">
            <h4 class="font-semibold text-red-700">{{ paragraph.role }}</h4>
            <p>{{ paragraph.content }}</p>
          </div>
          <button (click)="onSaveText()" [disabled]="!extractedDocumenxt">
            Save Text to Word
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
